<div class="container mt-5">
    <form>
        <div class="mb-3">
          <label class="form-label">Semestre</label>
          <input type="number" class="form-control" id="semesterInput">
        </div>
    
        <div class="mb-3">
          <label class="form-label">Periodo</label>
          <input type="text" class="form-control" id="periodInput">
        </div>

        <div class="mb-3">
            <label class="form-label">Ano</label>
            <input type="number" class="form-control" id="yearInput">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
