<div class="container mt-5">
  <h1>Cadastrar Disciplina</h1>
  <form class="mt-5" [formGroup]="formGroupSubject">
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" id="nameInput" name="nameInput" formControlName="nome">
      </div>

      <div class="mb-3">
        <label class="form-label">Professor</label>
        <select class="form-select" formControlName="cod_prof">
          <option disabled value="" selected>Escolha:</option>
          <option *ngFor="let teacher of teachers" [value]="teacher.cod_prof">{{ teacher.nome }} {{ teacher.cod_prof }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Curso</label>
        <select class="form-select" formControlName="cod_curso">
          <option disabled value="" selected>Escolha:</option>
          <option *ngFor="let course of courses" [value]="course.cod_curso">{{ course.nome }}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" (click)="saveSubject()">Salvar</button>
  </form>
</div>
