<div class="container mt-5">
  <h1>Cadastrar Aula</h1>
  <form class="mt-5" [formGroup]="formGroupLesson">
      <div class="mb-3">
        <label class="form-label">Código da disciplina</label>
        <select class="form-select">
          <option selected>Escolha:</option>
          <option *ngFor="let subject of subjects" [value]="subject.cod_disciplina">{{ subject.cod_disciplina }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Código da turma</label>
        <select class="form-select">
          <option selected>Escolha:</option>
          <option *ngFor="let iclass of classes" [value]="iclass.cod_turma">{{ iclass.cod_turma }}</option>
        </select>
      </div>

      <div class="mb-3">
          <label class="form-label">Horario</label>
          <input type="time" class="form-control" id="timeInput" name="timeInput" formControlName="horario">
      </div>

      <div class="mb-3">
          <label class="form-label">Dia da semana</label>
          <input type="number" class="form-control" id="dayInput" name="dayInput" formControlName="dia_semana">
      </div>
      <button type="submit" class="btn btn-primary" (click)="saveLesson()">Salvar</button>
  </form>
</div>
