<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gerenciamento de horários</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Aula
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="lesson/register">Cadastrar aula</a></li>
            <li><a class="dropdown-item" href="lesson">Ver aulas cadastradas</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Aluno
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="student/register">Cadastrar aluno</a></li>
            <li><a class="dropdown-item" href="student">Ver alunos cadastrados</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Curso
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="lesson/register">Cadastrar curso</a></li>
            <li><a class="dropdown-item" href="lesson">Ver cursos cadastrados</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Disciplina
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="subject/register">Cadastrar disciplina</a></li>
            <li><a class="dropdown-item" href="subject">Ver disciplinas cadastradas</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Professor
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="teacher/register">Cadastrar professor</a></li>
            <li><a class="dropdown-item" href="teacher">Ver professores cadastrados</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Turma
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="class/register">Cadastrar turma</a></li>
            <li><a class="dropdown-item" href="class">Ver turmas cadastradas</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
