<div class="container mt-5">
    <h1>Início</h1>
  
    <div *ngFor="let day of days">
        <h3>{{ day.day }}</h3>
        <table class="table table-striped table-hover mt-5">
          <thead>
            <tr>
              <th class="text-center">Aula</th>
              <th class="text-center">Início</th>
              <th class="text-center">Turma</th>
              <th class="text-center">Professor</th>
              <th class="text-center">Término</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of day.data; index as i">
              <th class="text-center">{{ i + 1 }}</th>
              <th class="text-center">{{ row.Inicio }}</th>
              <th class="text-center">{{ row.Curso }} - {{ row.Semestre }}° Semestre</th>
              <th class="text-center">{{ row.Professor }}</th>
              <th class="text-center">{{ row.Termino }}</th>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  