<div class="container mt-5">
    <form>
        <div class="mb-3">
          <label class="form-label">Cpf</label>
          <input type="text" class="form-control" id="cpfInput">
        </div>
    
        <div class="mb-3">
          <label class="form-label">Data de Admissao</label>
          <input type="date" class="form-control" id="dateInput">
        </div>

        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" id="nameInput">
        </div>

        <div class="mb-3">
            <label class="form-label">Email institucional</label>
            <input type="email" class="form-control" id="emailInput">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
